<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Logistics Optimizer {%endblock%}</title>
</head>
<body>
    <nav>
        <a href="/">Accueil</a> |
        <a href="/scenarios/">Scénarios</a> |
        <a href="/historique/">Historique</a> |
    </nav>
    <hr>

    <main>
        {% block content %}
        {%endblock%}
    </main>

    <hr>

    <footer>
        <p>Projet L2 Informatique - Optimisation logistique numérique</p>
    </footer>
</body>
</html>